/* brands*/
#lenovo {
    background-image: url(../img/logo/lenovo.svg);
}

#acer {
    background-image: url(../img/logo/acer.svg)
}

#apple {
    background-image: url(../img/logo/apple.svg);
}

#bosch {
    background-image: url(../img/logo/bosch.svg)
}

#hp {
    background-image: url(../img/logo/hp.svg)
}

#samsung {
    background-image: url(../img/logo/samsung.svg)
}

#sony {
    background-image: url(../img/logo/sony.svg)
}

#viewSonic {
    background-image: url(../img/logo/viewSonic.svg)
}

/* конец brands*/