// @import "fonts.css";
@use '../styles/variables.scss';
@use '../styles/buttons.scss';
@use '../styles/brands.scss';
@use '../styles/body.scss';
@use '../styles/header.scss';
@use '../styles/drop-menu.scss';
@use '../styles/fonts.scss';


@use '../styles/swiper.scss';

@use '../styles/media.scss';









/* Вдруг что-то пригодится 
/* Новая кнопка показать/скрыть */
/* .load-more_ckb {
    display: none;
}

.swiper-container .show-all {
    display: none;
}
.swiper__load-more .show-all {
    background-image: url(../img/arrows/expand.svg);
    background-repeat: no-repeat;
    background-position: 15% 35%;
}
.swiper__load-more .hide {
    background-image: url(../img/arrows/icon.svg);
    background-repeat: no-repeat;
    background-position: -5% 40%;
}
.swiper-container #swiperLoadMore:checked ~ .swiper__load-more .show-all {
    display: none;
}

.swiper-container #swiperLoadMore:checked ~ .swiper__load-more .hide {
    display: block;
} */



/* пробовал сделать кнопку показать/скрыть
.show-all {
    display: none;
    background-image: url(/Geras-AA/src/img/arrows/expand.svg);
    background-repeat: no-repeat;
    background-position: -5% 40%;
}

.hide {

    background-image: url(/Geras-AA/src/img/arrows/icon.svg);
    background-position: 15% 35%;
    background-repeat: no-repeat;
} */

/*@media (min-width:319px) and (max-width:767px) {
    body {
        min-width: 320px;
        max-width: 100%;
    }

    header {
        max-width: 767px;

    }

    .header__menu {
        min-width: 320px;

    }

    .header__menu-checkstatus {
        margin-right: 16px;

    }

    .header__menu-repair {
        margin-right: 16px;
    }


}
*/