@use 'variables' as *;

@media (max-width: 400px) {
  .swiper-container,
  .swiper_second,
  .swiper_third {
    width: 335px;
    // height: 100px;
  }

  .swiper-wrapper {
    flex-wrap: nowrap;
  }

  /* попробовал убрать строку
   .services-header p {
    flex-wrap: nowrap;
  } */
  /* .swiper__load-more {
        display: none;
    } */
  .show-more-btn {
    display: none;
  }

  .show-more-btn-second {
    display: none;
  }

  .gradient,
  .gradient_second,
  .gradient_fourth-media {
    display: block;
  }

  .slide_third a {
    position: absolute;
    transform: translateX(105px) translateY(150px);
  }

  .swiper_fourth-media {
    display: flex;
    flex-wrap: inherit;
    margin-left: -8px;
    overflow: hidden;
    top:16px;
    flex-shrink: 0;
  }
  .services-container-media {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 16px;
    margin-left: 16px;
    margin-top: 16px;
    height: 200px;
    width: 260px;
    background-color: $white;
    border-radius: 6px;
  }
  .services-container-media p {
    font-family: 'MyFont', sans-serif;
    font-size: 14px;
    line-height: 18px;
  }
  .slide__txt_title {
    margin-top: 0;
    margin-bottom: 0;
    color: $grey;
    font-size: 14px;
    font-weight: normal;
  }
  .services-media {
    // margin: 16px 0 0 0;
    width: 228px;
    margin-bottom: 6px;
  }

  .button-buy {
    top: -38px;
    // right: 125px;
    position: relative;
    left: 100px;
    width: 100px;
    height: 32px;
    font-family: 'MyFont', sans-serif;
    font-size: 14px;
  }
  .title-media {
    color: $grey;
  }
  .swiper_third {
    display: none;
  }


}
@media (min-width: 401px) and (max-width: 766px) {
  .swiper_fourth-media {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 1119px) {
  body {
    min-width: 320px;
    max-width: 100%;
  }

  header {
    max-width: 1119px;
  }

  .header__menu {
    min-width: 767px;
    display: flex;
    align-items: center;
  }

  .header__menu_hr-second {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 4px;
  }

  .header__menu-checkstatus {
    margin-right: 16px;
  }

  .header__menu-repair {
    margin-right: 16px;
  }

  .header__menu_hr-divider {
    margin-right: 16px;
  }

  .header__menu_container_hibben {
    display: flex;
  }

  .header__menu-call {
    margin-right: 16px;
  }

  .header__menu-chat {
    margin-right: 16px;
  }

  .header__menu-profile {
    margin-right: 20px;
  }

  .main__p_img_container {
    display: flex;
    justify-content: center;
  }

  .main__p_text {
    min-width: 312px;
    max-width: 1000px;
    margin-left: 24px;
    margin-right: 48px;
  }

  .text {
    max-height: 35px;
  }

  .main__img img {
    min-width: 360px;
    min-height: 208px;
    border-radius: 2%;
    margin-right: 25px;
  }

  .swiper-container {
    width: 100%;
  }

  .swiper_second {
    overflow: hidden;
    width: 100%;
  }

  .slide_third {
    max-width: 1440px;
    min-width: 720px;
    height: 64px;
    display: flex;
    flex: 1 1 auto;
    margin-bottom: 0;
    margin-left: 24px;
  }

  .slide__txt {
    display: flex;
    margin-left: 16px;
    margin-top: 23px;
    flex-wrap: nowrap;
    height: 24px;
    // width: 100%;
    justify-content: space-between;
  }
  .slide__txt_title {
    display: none;
  }
  .slide__txt p:nth-child(2) {
    max-width: 470px;
    min-width: 372px;
    flex-basis: auto;
  }
  .slide__txt p:nth-child(4) {
    max-width: 127px;
    min-width: 96px;
    flex-basis: auto;
  }

  .slide__txt p:nth-child(6) {
    width: 81px;
    margin-right: 20px;
    flex-basis: auto;
  }

  .slide_third a {
    margin: 15px 16px 0 0;
  }
  .swiper_fourth-media {
    display: none;
  }
}

@media (min-width: 1119px) {
  .swiper_fourth-media {
    display: none;
  }
  header {
    display: none;
  }

  .main__header_button_container {
    display: flex;
    margin-right: 32px;
  }

  .main__header_container-repair {
    display: flex;
    width: 168px;
    height: 40px;
    align-items: center;
    margin-right: 32px;
    margin-left: 9px;
    text-decoration: none;
  }

  .main__header_container-checkstatus {
    display: flex;
    width: 168px;
    height: 40px;
    align-items: center;
    margin-right: 32px;
    text-decoration: none;
  }

  .main__header_a_text {
    font-family: 'MyFont', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #1b1c21;
    letter-spacing: -0.2px;
    width: 125px;
    height: 24px;
    font-weight: 500;
  }

  .main__nav {
    flex-wrap: wrap;
  }

  .main__nav li:nth-child(2) {
    display: none;
  }

  .main__p_img_container {
    display: flex;
    justify-content: center;
  }

  .main__img img {
    min-width: 531.35px;
    min-height: 307px;
    margin-right: 28.65px;
    border-radius: 2%;
  }

  .swiper-container {
    width: 100%;
  }

  .swiper-services-container {
    width: 100%;
  }

  .swiper_second {
    width: 100%;
  }


  /* .slide_third {
    max-width: 1440px;
    min-width: 720px;
    height: 64px;
    display: flex;
    flex: 1 1 auto;
    margin-bottom: 0;
    margin-left: 24px;
    justify-content: space-between;
  } */

  /* .services-header {
    max-width: 1440px;
    min-width: 720px;
    display: flex;
    margin-left: 40px;
    font-size: 14px;
    color: $grey;
    justify-content: space-between;
  } */

  /* .slide__txt {
    display: flex;
    margin-left: 16px;
    margin-top: 23px;
    flex-wrap: nowrap;
    height: 24px;
    // width: 100%;
    justify-content: space-between;
  }

  .slide__txt_title {
    display: none;
  }

  .slide__txt p:nth-child(2) {
    max-width: 470px;
    min-width: 372px;
    flex-basis: auto;
  }
  .slide__txt p:nth-child(4) {
    max-width: 127px;
    min-width: 96px;
    flex-basis: auto;
  }

  .slide__txt p:nth-child(6) {
    width: 81px;
    margin-right: 20px;
    flex-basis: auto;
  }

  .slide_third a {
    margin: 15px 16px 0 0;
  } */
  /* .slide__btn{

  } */
}
