@use 'variables' as *;
/* слайды и слайдеры */
.title-page {
  font-family: 'MyFont', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #7e7e82;
  padding: 16px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 58%,
    rgba(255, 255, 255, 0.969625350140056) 86%,
    rgba(255, 255, 255, 1) 100%
  );
}

.gradient,
.gradient_second,
.gradient_third {
  width: 40px;
  height: 72px;
  position: absolute;
  z-index: 4;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 58%,
    rgba(255, 255, 255, 0.969625350140056) 86%,
    rgba(255, 255, 255, 1) 100%
  );
  right: 0;
  top: 0;
  display: none;
}

.gradient_second {
  width: 40px;
  height: 161px;
}

.gradient_third {
  width: 60px;
  height: 200px;
}

.swiper-container,
.swiper_second {
  width: 830px;
  padding-left: 32px !important;
  overflow: hidden;

  position: relative;
}

.swiper-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: inherit;
  bottom: 16px;
  height: 100%;
  width: 100%;
}
/* .image-slider__slide {
  width: 240px;
  height: 72px;
  margin-bottom: 16px;
  display: flex;
  overflow: auto;
  justify-content: space-between;
} */

.slide {
  width: 240px;
  height: 72px;
  display: flex;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  flex-shrink: 0;
  margin: 16px 32px 16px 0;
  justify-content: space-between;
}

.slide a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide__img {
  width: 130px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  margin-left: 16px;
}

.slide__btn {
  width: 40px;
  height: 40px;
  background-image: url(../img/arrows/dropdown.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  margin-right: 16px;
}

.swiper-pagination,
.pag_2 {
  bottom: 16px;
}
.swiper-pagination,
.pag_3 {
  bottom: 16px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  font-size: 10px;
}

.swiper-pagination-bullet-active {
  --swiper-theme-color: #757575;
}

.slide__second {
  width: 240px;
  height: 160px;
  margin-bottom: 16px;
  display: flex;
  overflow: auto;
}

.slide__second a {
  align-items: normal;
  text-decoration: none;
}

.slide__second .slide__btn {
  bottom: -100px;
}

.slide__txt {
  margin-left: 16px;
  margin-top: 16px;
  height: 24px;
  font-weight: 600;
  font-family: 'MyFont', sans-serif;
  color: #1b1c21;
  line-height: 24px;
  font-size: 16px;
}

/* .slide_third {
  width: 260px;
  height: 200px;
  display: flex;
  justify-content: space-between;
} */

.services-container {
  max-width: 1056px;
  // overflow: hidden;
  // background-color: red;
  // margin: 0 auto;
  // padding: 0 15px;
  //  display: flex;
  //  flex-wrap: wrap;
  // justify-content: space-between;
}
.services-wrapper {
  background-color: $white;
  top: 55px;
  width: 100%;
  height: 324px;
  position: absolute;
  z-index: 1;
  border-radius: 6px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.rectangle-1 {
  height: 1px;
  background-color: $backBody;
  position: absolute;
  top: 120px;
  z-index: 5;
  left: 56px;
  right: 32px;
}
.rectangle-2 {
  height: 1px;
  background-color: $backBody;
  position: absolute;
  top: 185px;
  z-index: 5;
  left: 56px;
  right: 32px;
}
.rectangle-3 {
  height: 1px;
  background-color: $backBody;
  position: absolute;
  top: 250px;
  z-index: 5;
  left: 56px;
  right: 32px;
}
.rectangle-4 {
  height: 1px;
  background-color: $backBody;
  position: absolute;
  top: 315px;
  z-index: 5;
  left: 56px;
  right: 32px;
}

.swiper_third {
  position: relative;
  padding-left: 32px !important;
  overflow: hidden;
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // height: 100%;
}
.service-name {
  // background-color: $white;
  min-width: 348px;
  padding-left: 24px;
  z-index: 5;
}
.service-name li {
  font-family: 'MyFont', sans-serif;
  padding-bottom: 23px;
  padding-top: 23px;
  font-size: 14px;
  line-height: 18px;
}
.service-name li:first-child {
  color: $grey;
  // background-color: $bodyWhite;
  padding-bottom: 16px;
  padding-left: 24px;
  margin-left: -24px;
  border-radius: 6px 0 0 0;
}
.service-price {
  min-width: 74px;
  // margin-left: 122px;
  // background-color: $white;
  z-index: 5;
}
.service-price li {
  font-family: 'MyFont', sans-serif;
  padding-bottom: 23px;
  padding-top: 23px;
  font-size: 14px;
  line-height: 18px;
  // padding-left: 122px;
}
.service-price li:first-child {
  color: $grey;
  // background-color: $bodyWhite;
  padding-bottom: 16px;
}
.service-time {
  min-width: 81px;
  // background-color: $white;
  z-index: 5;
}
.service-time li {
  // display: flex;
  margin: 0;
  font-family: 'MyFont', sans-serif;
  padding-bottom: 23px;
  padding-top: 23px;
  // padding-left: 122px;
  // padding-right: 24px;
  font-size: 14px;
  line-height: 18px;
}
.service-time li:first-child {
  color: $grey;
  // background-color: $bodyWhite;
  padding-bottom: 16px;
}

.service-button {
  min-width: 119px;
  height: 324px;
  // background-color: $white;
  margin-top: 57px;
  z-index: 5;
}
.service-button ul {
  margin: 0;
  font-family: 'MyFont', sans-serif;
  padding-bottom: 9px;
  padding-top: 23px;
  // padding-left: 111px;
  // padding-right: 24px;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  padding-right: 24px;
}

.button-buy {
  background-color: $pinkBtn;
  border-radius: 16px;
  width: 119px;
  height: 32px;
  //  top: 4px;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  color: $white;
  background-image: url(../img/arrows/goside.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  font-weight: 700;
  top: -8px;
  right: 12px;
  padding-left: 12px;
  line-height: 32px;
}

/* .slide__txt_title {
  margin-top: 0;
  margin-bottom: 0;
  color: $grey;
  font-size: 14px;
  font-weight: normal;
}
.slide__txt_description {
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: normal;
}

.swiper_third {
  max-width: 1100px;
  margin-left: 8px !important;
  overflow: hidden;
  margin-bottom: 16px;
} */
/* .services-container {
    max-width: 1056px;
    // margin: 0 auto;
    font-family: Arial, sans-serif;
  }

  .services-header, .service-row {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .services-header {
    font-weight: bold;
    // border-bottom: 2px solid #ddd;
  }

  .service-col {
    padding: 0 10px;
  }


  .service-price {
    width: 74px;
    text-align: center;
    // margin-left: 122px;
  }

  .service-time {
    width: 81px;
    text-align: center;
    // margin-left: 153px;
  }

  .service-action {
    width: 10%;
    text-align: center;
  }

  .slide__btn_small, .arrow {
    display: inline-block;
    vertical-align: middle;
  }


  .swiper_third {
    margin: 20px 0;
    width: 1056px;
  }
 */
