html {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    background-color: #f8f8f8;
    overflow: auto;
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    /* для более интуитивного обзначения размеров. по умолчанию content-box  это ширина width+borderwidth*/
}

.header {
    height: 88px;
    background-color: #ffffff;
    justify-content: space-between;
}

.header__menu {
    height: 88px;
    display: flex;
    justify-content: space-between;
}

.header__container {
    padding-left: 16px;
    padding-right: 16px;
}

.header__menu_container_burger-logo-hr {
    display: flex;
    align-items: center;

}

/*кнопка бургера*/
.menu-btn a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 62, 121, 1);
    border-radius: 50%;
    position: relative;
    z-index: 10;

}

.header__menu-burger-button {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 62, 121, 1);
    border-radius: 50%;
    position: relative;
    text-align: center;
}

.header_menu-burger-button__container {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 62, 121, 1);
    border-radius: 50%;
    position: relative;
    text-align: center;
    z-index: 10;
}

/*спрятал галочку*/
#menuBurg {
    opacity: 0;
}

.header_menu-burger-button__container>.burger {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    line-height: 40px;
}


.burger-line-1 {
    position: absolute;
    top: 12px;
    left: 11px;
    width: 18px;
    height: 2px;
    background-color: #fff;
    transition: .5s all;
    cursor: pointer;
    z-index: 3;
}

.burger-line-2 {
    position: absolute;
    top: 19px;
    left: 11px;
    width: 10px;
    height: 2px;
    background-color: #fff;
    transition: .5s all;
    cursor: pointer;
    z-index: 3;
}

.burger-line-3 {
    position: absolute;
    top: 26px;
    left: 11px;
    width: 14px;
    height: 2px;
    background-color: #fff;
    transition: .5s all;
    cursor: pointer;
    z-index: 3;

}

.header__menu_container_burger-logo-hr:has(#menuBurg:checked) .header__menu_drop-menu {
    transform: translateY(0);
}

.header_menu-burger-button__container:has(#menuBurg:checked) .burger-line-1 {
    transform: translateY(7px) translateX(-2px) rotate(45deg);
    width: 21.73px;
    height: 2.17px;
}

.header_menu-burger-button__container:has(#menuBurg:checked) .burger-line-2 {
    display: none;
}


.header_menu-burger-button__container:has(#menuBurg:checked) .burger-line-3 {
    transform: translateY(-7px) translateX(-2px) rotate(-45deg);
    Width: 21.73px;
    height: 2.17px;
}

/* дроп меню*/


aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: -10px;
    top: 0;
    width: 320px;
    background-color: #fff;
    box-shadow: 16px 0px 24px -13px rgba(34, 60, 80, 0.18);
    transform: translateY(-100%);
    text-align: start;
    transition: .5s all;
    height: 100vh;
    padding: 24px;
    z-index: 5;
}


.drop-menu__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 53px;
    padding: 0;
    gap: 32px;
    overflow: auto;
}


.drop-menu__list>li {
    position: relative;
}

.drop-menu__list a {
    text-decoration: none;
    color: #1b1c21;
    padding: 5px;
    font-size: 16px;
    line-height: 24px;
    font-family: "TT Lakes";
}

.drop-menu__list a:focus {
    background-image: url(../highlight/highlight.png) no-repeat;
    background-position: center;
    opacity: 0.5;
    transition: 0.5s all;
}

.drop-menu__list a:hover {
    color: #7E7E82;
    transition: 0.5s all;

}

.drop-menu__search-btn {
    display: flex;
    justify-content: end;
    flex-grow: 1;
}

#search {
    background-image: url(../search/search.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/*ПОДВАЛ - footer drop menu*/
.drop-menu__footer {
    display: block;
    font-family: "TT Lakes";
    flex-grow: 1;
}

.drop-menu__footer a {
    display: block;
    text-decoration: none;
    color: #1b1c21;
}

.footer__button-conainer {
    display: flex;
}

#call {
    background-image: url(../ic-call/call.svg);
    margin-right: 16px;
}

#chat {
    background-image: url(../ic-chat/chat.svg);
    margin-right: 16px;
}

#profile {
    background-image: url(../ic-profile/profile.svg);
}

.drop-menu__email,
.drop-menu__phone {
    margin-top: 16px;
}

.drop-menu__email {
    font-size: 16px;
}

.drop-menu__phone {
    font-size: 24px;
    font-weight: bold;
}

.footer__lang-box {
    display: flex;
    margin-top: 40px;
    font-size: 16px;
}

.footer__lang-box a {
    margin-right: 7px;
}

.footer__lang-box a:hover {
    opacity: 50%;
}


/*конец дроп меню*/


.header__menu-logo {
    margin-top: 18.59px;
    margin-bottom: 18.59px;
    margin-left: 17px;
    z-index: 10;
}

.header__menu_container_button-hr {
    display: flex;
    align-items: center;
}

.header__menu_container_hibben {
    display: none;
}

.header__menu_hr-divider {
    width: 2px;
    height: 32px;
    margin-right: 20px;
    margin-bottom: 28px;
    margin-top: 28px;
    border: 0;
    border-radius: 1px;
    background-color: #eaeaea;
}

#repair {
    background-image: url(../ic-repair/repair.svg);
    background-repeat: no-repeat;
    background-position: right;

}

.header__menu-repair {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 16px;
    width: 40px;
    height: 40px;
}


.header__menu-checkstatus {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 16px;
}

.header__menu_container {
    display: none;
}

.header__menu_hr-second {
    display: none;
    width: 2px;
    height: 32px;
    margin-right: 20px;
    margin-bottom: 28px;
    margin-top: 28px;
    border: 0;
    border-radius: 1px;
    background-color: #eaeaea;
    z-index: 10;
}


main {
    background-color: #f8f8f8;


}

.main__header_container {
    padding-top: 24px;
    display: flex;
    height: 40px;
    justify-content: space-between;
}

.main__header_hr_text_container {
    display: flex;
}

.main__highlight {
    margin-left: 0;
    width: 4px;
    height: 40px;
    margin-top: 0px;
    background-color: #41F6D7;
    border: 0;
    border-radius: 0 10px 10px 0;
    z-index: 10;
}

.main__header_text {
    margin-top: 0;
    width: 288px;
    height: 40px;
    font-family: "TT Lakes";
    font-size: 28px;
    color: #1B1C21;
    line-height: 40px;
    letter-spacing: -0.6px;
    font-weight: bold;
    margin-left: 16px;
}

.main__header_button_container {
    display: none;
}

.main__nav {
    display: flex;
    overflow: auto;
    padding: 40px;


}

li {
    display: block;

}

.main__nav_text {
    font-family: "TT lakes";
    font-size: 16px;
    line-height: 24px;
}

.main__nav a {
    border-bottom: 0;
    border-radius: 6px;
    text-align: start;
    color: #7E7E82;
    padding: 8px 9.3px 8px 16.54px;
    margin: 0;
    white-space: nowrap;
    text-decoration: none;
    background-color: #fff0;
    list-style: none;
}

.main__nav a:active,
.main__nav a:focus {
    outline: 2px solid #B8FFEC;
    background-color: #fff;
}

.read-more-checker {
    /*спрятал чекер с галочкой*/
    opacity: 0;
    position: absolute;
}



.main__p_text {
    font-family: "TT Lakes";
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-left: 16px;
    margin-right: 16px;
    overflow: hidden;
    min-width: 288px;
    max-width: 540px;
    max-height: 90px;
    padding: 0px;

}

.text {
    max-height: 0px;
}

.read-more-button {
    margin-top: 16px;
    margin-left: 24px;
    width: 132px;
    height: 24px;
}

.read-more-checker:checked~.text {
    /*применяется для всех элементов с классом text, после перевода в статус checked элемента с классом read-more-checker*/
    max-height: none;

}

/* слайды и слайдеры */
.title-page {
    font-family: "TT Lakes";
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: #7E7E82;
    padding: 16px;
    margin-bottom: 32px;
}

.gradient {
    width: 40px;
    height: 72px;
    position: absolute;
    z-index: 3;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
    right: 0;
    top: 0;
    display: none;
}

.swiper-container {
    width: 512px;
    padding-left: 32px !important;
    overflow: hidden;

    position: relative;
}

.swiper-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: inherit;
    bottom: 16px;
}

.slide {
    width: 240px;
    height: 72px;
    display: flex;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    flex-shrink: 0;
    align-items: center;
    margin: 0 32px 16px 0;
}

.slide a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide__img {
    width: 130px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    margin-left: 16px;
}

.slide__btn {
    width: 40px;
    height: 40px;
    background-image: url(../pink_arrow/dropdown.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border: 2px solid #ff3e79;
    border-radius: 50%;
    margin-right: 16px;
}

.swiper-pagination {
    bottom: 16px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    font-size: 10px;

}



.swiper-pagination-bullet-active {
    --swiper-theme-color: #757575;

}


.show-more-btn {
    appearance: none;
    border: none;
    font-family: 'TT Lakes';
    font-weight: 600;
    width: 134px;
    height: 24px;
    margin-top: 24px;
    margin-bottom: 34px;
    margin-left: 24px;
    background-image: url(../ic-expand/icon.svg);
    background-repeat: no-repeat;
    background-position: 15% 40%;
    background-color: inherit;
    transition: 0.5s;
}

/* brands*/
#lenovo {
    background-image: url(../brands/Lenovo/lenovo.svg);
}

#acer {
    background-image: url(../brands/Acer/acer.svg)
}

#apple {
    background-image: url(../brands/Apple/apple.svg)
}

#bosch {
    background-image: url(../brands/Bosch/bosch.svg)
}

#hp {
    background-image: url(../brands/Hp/hp.svg)
}

#samsung {
    background-image: url(../brands/Samsung/samsung.svg)
}

#sony {
    background-image: url(../brands/Sony/sony.svg)
}

#viewSonic {
    background-image: url(../brands/ViewSonic/viewSonic.svg)
}

/* конец brands*/
#expand {
    background-image: url(../ic-expand/expand.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.main__button-expand {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-top: 16px;
    vertical-align: bottom;
    margin-right: 8px;
}

.main__button-text {
    font-family: "TT lakes";
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
    font-weight: 500;

}

.main__img img {
    width: 100%;
}





@media (max-width:400px) {
    .swiper-container {
        width: 335px;
        height: 100px;
    }

    .swiper-wrapper {

        flex-wrap: nowrap;


    }

    .show-more-btn {
        display: none;
    }

    .gradient {
        display: block;
    }
}

/*@media (min-width:319px) and (max-width:767px) {
    body {
        min-width: 320px;
        max-width: 100%;
    }

    header {
        max-width: 767px;

    }

    .header__menu {
        min-width: 320px;

    }

    .header__menu-checkstatus {
        margin-right: 16px;

    }

    .header__menu-repair {
        margin-right: 16px;
    }


}
*/
@media (min-width:767px) and (max-width:1119px) {
    body {
        min-width: 320px;
        max-width: 100%;
    }



    header {
        max-width: 1119px;
    }

    .header__menu {
        min-width: 767px;
        display: flex;
        align-items: center;

    }

    .header__menu_hr-second {
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-right: 4px;
    }


    .header__menu-checkstatus {
        margin-right: 16px;

    }

    .header__menu-repair {
        margin-right: 16px;
    }

    .header__menu_hr-divider {
        margin-right: 16px;
    }

    .header__menu_container_hibben {
        display: flex;

    }

    .header__menu-call {
        margin-right: 16px;
    }

    .header__menu-chat {
        margin-right: 16px;
    }

    .header__menu-profile {
        margin-right: 20px;

    }

    .main__p_img_container {
        display: flex;
        justify-content: center;
    }

    .main__p_text {
        min-width: 312px;
        max-width: 1000px;
        margin-left: 24px;
        margin-right: 48px;
    }

    .text {
        max-height: 35px;
    }

    .main__img img {
        min-width: 360px;
        min-height: 208px;
        border-radius: 2%;
        margin-right: 25px;
    }
}

@media (min-width:1119px) {
    header {
        display: none;
    }

    .main__header_button_container {
        display: flex;
        margin-right: 32px;
    }

    .main__header_container-repair {
        display: flex;
        width: 168px;
        height: 40px;
        align-items: center;
        margin-right: 32px;
        margin-left: 9px;
        text-decoration: none;
    }

    .main__header_container-checkstatus {
        display: flex;
        width: 168px;
        height: 40px;
        align-items: center;
        margin-right: 32px;
        text-decoration: none;
    }

    .main__header_a_text {
        font-family: "TT Lakes";
        font-size: 16px;
        line-height: 24px;
        color: #1B1C21;
        letter-spacing: -0.2px;
        width: 125px;
        height: 24px;
        font-weight: 500;
    }

    .main__nav {
        flex-wrap: wrap;
    }

    .main__nav li:nth-child(2) {
        display: none;
    }

    .main__p_img_container {
        display: flex;
        justify-content: center;
    }

    .main__img img {
        min-width: 531.35px;
        min-height: 307px;
        margin-right: 28.65px;
        border-radius: 2%;
    }

    .swiper-container {
        width: 1100px;
    }
}